* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f1dcdc;
    color: #333;
}

p {
    color: #333;
}

h1, h2, h3 {
    color: #b71f58;
}

h4, h5, h6 {
    color: #bf4e7a;
}

body.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
}

body.dark-theme h1, body.dark-theme h2, body.dark-theme h3 {
    color: #b71f58;
}

body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: #bf4e7a;
}

body.dark-theme p {
    color: #ccc;
}

header {
    height: 80px; /* Ajuste conforme necessário */
    background-color: #f1f1f1;; /* Cor de fundo da header */
    position: fixed; /* Fixa a header no topo */
    width: 100%; /* Ocupa toda a largura */
    top: 0; /* Posição no topo */
    z-index: 1000; /* Garante que a header fique acima do conteúdo */
}



body.dark-theme header {
    background: #2c2c2c;
}

.headerContainer {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: auto;
    width: 150px;
    margin-left: auto;
}

nav {
    display: flex;
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #b71f58;
    text-decoration: none;
    padding: 10px 15px;
    display: block; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    background-color: #b71f58;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul li a.active {
    background-color: #b71f58;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    font-size: 24px;
    color: #b71f58;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    color: #bf4e7a;
    transform: scale(1.1);
}

body.dark-theme .theme-toggle {
    color: #b71f58;
    transition: transform 0.3s ease;
}

body.dark-theme .theme-toggle:hover {
    color: #bf4e7a;
    transform: scale(1.1);
}

#home {
    margin-top: 80px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f1dcdc;
}

body.dark-theme #home {
    background: #1e1e1e;
}

.home-content {
    flex: 1; 
    padding-right: 20px;
}

.home-title {
    font-size: 2.5rem; 
    color: #b71f58;
}

.home-description {
    font-size: 1.2rem; 
    margin-top: 10px; 
}

.home-image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 12px; 
}


#services, #testimonials, #contact {
    padding: 2rem 0;
    text-align: center;
}

.services-grid, .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service, .testimonial {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    background-color: #b71f58;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    color: #fff;
}
